.form-contact {
  background-color: #fcf8f3;
  border-radius: 5px;

  width: 400px;
}

.form-contact h2 {
  text-align: center;
  margin: 0 0 20px;
  font-size: 3em;
}

.form {
  padding: 30px 40px;
}

.form-control {
  color: #777;
  display: block;
  margin-bottom: 20px;
}

.form-control label {
  font-size: 1.5em;
}

.form-control input {
  border: 2px solid white;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control textarea {
  border: 2px solid white;
  border-radius: 4px;
  display: block;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control textarea input:focus {
  outline: 0;
  border-color: #777;
}

.form button {
  cursor: pointer;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form-control small {
  color: red;
  font-size: 12px;
}
